
*.csv
L1_Candidate_Dataset/
L1_Candidate_Dataset.zip
messages.csv
mandatory_ids.csv
dataset.csv
Level 2/L2_Candidate_Dataset/
Level 2/L2_Candidate_Dataset.zip

__pycache__/
*.pyc
.env
venv/
.venv/
env/


.vscode/
.idea/
.DS_Store